{% extends "base.html" %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Welcome to Watch 52!</h1>
    <div class="form" style="text-align: center;">
        <form action="/movies" method="POST">
            <p>
                We will choose you 52 great movies for the next 52 weeks. 
                You can add these movies as Todoist tasks if you wish 
                to follow your progress closely.
                
            </p>
            {% if error %}
            <p>We just had a {{ error }} problem. Please try again.</p>
            {%endif %}
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}