{% extends "base.html" %} {% block body %}
<div class="content">
    <div class="jumbotron">
        <h3 class="display-4">{{ head_title }}</h3>
        <p class="lead">We will find you great movies for the next year.</p>
        <hr class="my-4"> {% if error %}
        <p>We just had a problem. Please try again.</p>
        <p>Error details: {{ error }}</p>
        {% else %}
        <p>You can add these movies as <a href='https://todoist.com' target="_blank">Todoist</a> tasks if you wish to follow your progress closely.</p>
        {% endif %}
        <form action="/movies" method="POST">
            <input class="btn btn-primary btn-lg" type="submit" value="Find great movies!">
        </form>
    </div>
</div>
{% endblock %}